body {
	font-family: "Montserrat";
}

.header {
	display: flex;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
  	height: 8%;
  	background-color: white;
  	box-shadow: 0 0.2vw 0.2vw 0 rgba(51, 51, 51, 0.25);
  	z-index: 5;
}

.footer {
	text-align: center;
	font-weight: 300;
	font-size: 1vw;
	margin-bottom: 1vw;
}

.menu {
	display: flex;
	width: 66%;
  	list-style: none;
  	justify-content: space-between;
  	align-items: center;
  	margin-right: 15%;
  	margin-left: 15%;
}

.menu li img {
	vertical-align: bottom;
}

.menu li:first-child {
	margin-right: 10%;
}

.menu li a {
	text-decoration: none;
	color: #333333;
	font-weight: 500;
	font-size: 1vw;
	transition: 200ms;
}

.menu li a:hover {
	font-weight: 700;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	height: 90%;
}


.container h1 {
	width: 66%;
	font-size: 4vw;
	font-weight: 700;
	color: white;
}

.container:nth-child(2n+1) h1 {
	color: #0065FF;
}

.container p {
	font-size: 1.7vw;
	font-weight: 500;
	color: white;
}

.container p span {
	font-weight: 700;
}

.container:nth-child(2n+1) p {
	color: #333333;
}

.items {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 66%;
	margin-right: auto;
	margin-left: auto;
}

.items > div {
	overflow: hidden;
	display: flex;
	width: 50%;
	height: 80%;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10%;
}

.items > div:last-child {
	margin-right: 0;
}

.button {
	font-weight: bold;
	font-size: 1.5vw;
	text-align: center;
	width: 50%;
	background-color: #0065FF;
	color: white;
	box-sizing: border-box;
	border: 0.3vw solid #0065FF;
	padding: 2% 5%;
	transition: 200ms;
}

.button:hover {
	background-color: #B3D1FF;
	color: #0065FF;
}

.photo {
	width: 100%;
	height: 100%;
	background-size: contain;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.container-start {
	background-color: white;
	background-image: url(../img/bg/start-bg.svg);
	background-size: auto;
	background-repeat: repeat;
	background-position: 50% 50%;
}

.photo-start {
	background-image: url(../img/photos/start-img.png);
}

.listen {
	width: 100%;
	height: 50%;
	background-size: contain;
	background-image: url(../img/listen.svg);
	background-position: 0 0;
	background-repeat: no-repeat;
}

.container-about {
	background-color: #FFA800;
	background-image: url(../img/numbers/1.svg), url(../img/bg/about-bg.svg);
	background-repeat: no-repeat, space;
	background-position: 80% 5%, 0 0;
	background-size: 15%, auto;

}

.photo-about {
	background-image: url(../img/photos/about-img.png);
}

.container-made {
	background-color: white;
	background-image: url(../img/numbers/2.svg), url(../img/bg/made-bg.svg);
	background-repeat: no-repeat, space;
	background-position: 80% 5%, 0 0;
	background-size: 15%, auto;
}

.photo-made {
	background-image: url(../img/photos/made-img.png);
	transition: 200ms;
}

.photo-made:hover {
	transform: scale(0.95);
}

.container-work {
	background-color: #FFA800;
	background-image: url(../img/numbers/3.svg), url(../img/bg/work-bg.svg);
	background-repeat: no-repeat, space;
	background-position: 80%  5%, 0 0;
	background-size: 15%, auto;
}

.photo-work {
	background-image: url(../img/photos/work-img.png);
	transition: 200ms;
}

.photo-work:hover {
	transform: scale(0.95);
}

.container-price {
	background-color: white;
	background-image: url(../img/numbers/4.svg), url(../img/bg/price-bg.svg);
	background-repeat: no-repeat, space;
	background-position: 80% 5%, 0 0;
	background-size: 15%, auto;
}

.photo-price {
	background-image: url(../img/photos/price-img.png);
}

.container-trust {
	background-color: #FFA800;
	background-image: url(../img/numbers/5.svg), url(../img/bg/trust-bg.svg);
	background-repeat: no-repeat, space;
	background-position: 80% 5%, 0 0;
	background-size: 15%, auto;
}

.container-trust img {
	object-fit: cover;
  	width: 10vh;
  	height: 10vh;
}

.container-trust .review-name {
	display: inline-block;
	vertical-align: middle;
	font-weight: 500;
	margin-top: -3vw;
	margin-left: 1vw;
	margin-bottom: 0.5vw;
	font-size: 1vw;
	color: #333333;
}

.container-trust .review-text {
	margin-top: -1vw;
	margin-bottom: 2vw;
	background-color: white;
	border-radius: 1vw;
	margin-left: 10%;
	width: 90%;
	box-sizing: border-box;
	padding: 5% 10%;
	color: #333333;
}

.container-call {
	background-color: white;
	background-image: url(../img/numbers/6.svg), url(../img/bg/call-bg.svg);
	background-repeat: no-repeat, space;
	background-position: 80%  5%, 0 0;
	background-size: 15%, auto;
}

.photo-call {
	background-image: url(../img/photos/call-img.png);
	transition: 200ms;
}
